@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GT";
    src: url("./Assets/fonts/Gt.ttf") format("ttf");
  }
}

h1 {
  font-family: "GT", serif;
  font-size: 48px;
  line-height: 3.5rem;
  font-weight: lighter;
}
h3 {
  font-family: "GT", serif;
  font-size: 32px;
  line-height: 2.25rem;
}

#modal-root {
  z-index: 9999;
}

#calendar-root {
  z-index: 9998;
}

#root {
  z-index: 1;
}
